# Exclude all logs, but do not remove the directories
**/logs/*
**/Logs/*

# Exclude the Debug files and executables--note that this removes librdkafka and sometimes NLog
**/Debug/*
!**/StoredRSSReply/Persistence.txt

# Exclude the releases
**/Release/*

# Exclude the simulation files
**/SimulationFiles/*

# Remove Visual Studio packages directory that contains packages and their executables
**/packages

# Remove Visual Studio settings
**/.vs

# Remove all COTS
**/cots

# Remove publication objects
**/obj

# Remove binaries
*.exe
!**/AccessDatabaseEngine.exe
*.dll
*.suo
*.csc
*.gz
*.json
!vms_routes.json
*.csv
!route_filter_list.csv
*.xls
*.xlsx
*.xml
*.pdf
!**/Web_Apps/Web_Toolkit/Web_Toolkit/Docs/*