<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FixPointNames.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<connectionStrings>

		<!-- MS SQL Connection-->
		<add name="MOD_DB" connectionString="Data Source=.\MSSQL2017;Initial Catalog=db_PA_MOD;user id=sa;password=sap@$$;" providerName="System.Data.SqlClient" />

		<!-- PostGRES DB Connection parameters -->
		<add name="PG_MOD_DB" connectionString="Server=localhost;Database=db_dotStream;User ID=mindhop;password=mindhoppass;timeout=1000;" providerName="PostgreSQL" />

		<!-- MongoDB Connection String -->
		<add name="MongoDB_MOD_DB" connectionString="mongodb://127.0.0.1:27017/db_pa_mod" />

		<!-- Kafka Host and broker List -->
		<!-- Event Hub Namespace -->
		<add name="KafkaBrokerList" connectionString="ENG-JFK-DataHub-EVHNS-70-1.servicebus.windows.net:9093" />
		<!-- Kafka broker 
	<add name="KafkaBrokerList" connectionString="localhost:9092" />-->

	</connectionStrings>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<!-- make sure to set 'Copy To Output Directory' option for this file -->
		<!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
		<variable name="logDirectory" value="..\logs" />
		<targets>
			<target name="console" xsi:type="Console" layout="${longdate}: ${level:uppercase=true}: ${message}" />
			<target name="file" xsi:type="AsyncWrapper" queueLimit="100" overflowAction="Discard">
				<target name="file" xsi:type="File" fileName="${logDirectory}/${event-context:item=Dir}${event-context:item=Name}_${date:format=MMddyyyy}.log" layout="${longdate}: ${level:uppercase=true}: ${message}${onexception:EXCEPTION OCCURRED\:${newline}${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
			</target>
		</targets>
		<rules>
			<logger name="LogToConsoleAndFile" minlevel="Trace" writeTo="console,file" />
			<logger name="LogToFileOnly" minlevel="Trace" writeTo="file" />
		</rules>
	</nlog>

	<appSettings>
		<add key="AppName" value="PAX_Consumer" />
		<add key="DBCommandTimeoutInSeconds" value="30" />
		<add key="AppCheckTimeoutInSeconds" value="120" />
		<add key="SendToMongoDB" value="false" />

		<!-- Kafka Params/Event Hub -->
		<add key="KafkaConsumerGroup" value="pax_data_consumer" />
		<add key="KafkaTopic" value="pax_volume" />
		<add key="SecurityProtocol" value="3" />
		<!-- Kafka 0, event hubs 3-->
		<add key="SaslMechanism" value="1" />
		<!-- Kafka 1, event hubs 1-->
		<add key="SaslUsername" value="$ConnectionString" />
		<add key="SaslPassword" value="Endpoint=sb://eng-jfk-datahub-evhns-70-1.servicebus.windows.net/;SharedAccessKeyName=ENG-JFK-DataHub-EVHNS-70-1;SharedAccessKey=Io9l2UrGnhskkOSK4w8E3ig60bl407yQAc82jyHC+UY=" />

		<!-- Consumer Parameters -->
		<add key="AgencyName" value="Port Authority" />
		<add key="AirportCode" value="KLGA" />
		<!-- Values from staticds.tblpaxtype -->
		<add key="Delta_Hourly_Projections_TypeName" value="Delta_Hourly_Projections" />
		<add key="Delta_Monthly_Projections_TypeName" value="Delta_Monthly_Projections" />
		<add key="Delta_Three_Day_Projections_TypeName" value="Delta_Three_Day_Projections" />
		<add key="American_Airlines_Hourly_Projections_TypeName" value="American_Airlines_Hourly_Projections" />
		<add key="TSA_Enplanements_TypeName" value="TSA_Enplanements" />
		<add key="CBP_PAX_TypeName" value="CBP_PAX" />
		<add key="Terminal_B_Projections_TypeName" value="Terminal_B_Projections" />
		<add key="Delta_Six_Day_Detailed_Projections_TypeName" value="Delta_Six_Day_Detailed_Projections" />
		<add key="JetBlue_Daily_Projections_TypeName" value="JetBlue_Daily_Projections" />

		<!-- Configurable TSA Levels for Enplanements. Value represents the max for respective level. Level 4 is anything > Level 3 -->
		<add key="TSALevelOneMax" value="47000" />
		<add key="TSALevelTwoMax" value="50000" />
		<add key="TSALevelThreeMax" value="53000" />
		<!-- Values from xref_tables.tblflighttypelookup -->
		<add key="Arrivals_TypeName" value="arrv" />
		<add key="Departures_TypeName" value="dept" />


		<add key="SimulationEnabled" value="false" />
		<add key="SimulationType" value="PAX" />
		<!-- supports space delimited string of files - executed in order -->
		<add key="SimulationFile" value="..\SimulationFiles\253.json" />

		<!-- SNMP Configuration -->
		<add key="SNMPHost" value="127.0.0.1" />
		<add key="SNMPPort" value="162" />
		<add key="SNMPCommunity" value="public" />
		<add key="SNMPOID" value="1.3.6.1.4.1.1629.1.1.4" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>