<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FixPointNames.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <connectionStrings>
        <!-- MS SQL Connection-->
        <add name="MOD_DB" connectionString="Data Source=.\MSSQL2017;Initial Catalog=db_PA_MOD;user id=;password=;" providerName="System.Data.SqlClient"></add>

        <!-- PostGRES DB Connection parameters -->
        <add name="PG_MOD_DB" connectionString="Server=localhost;Database=db_PA_MOD;User ID=mindhop;password=;timeout=1000;" providerName="PostgreSQL"/>

        <!-- Cassandra host -->
        <add name="Cassandra_Host" connectionString="localhost"/>
      
        <!-- Kafka Host and broker List-->
        <add name="KafkaBrokerList" connectionString="localhost:9092"/>

        <!-- MongoDB Connection String -->
        <add name="MongoDB_MOD_DB" connectionString="mongodb://127.0.0.1:27017/db_pa_mod"/>
    </connectionStrings>
    
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <!-- make sure to set 'Copy To Output Directory' option for this file -->
        <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
        <variable name="logDirectory" value="D:\Projects\Port_Authority\Code\Marine_Traffic_Data_Consumer\Marine_Traffic_Data_Consumer\bin\Logs"/>
        <targets>
            <target name="console" xsi:type="Console" layout="${longdate}: ${level:uppercase=true}: ${message}"/>
            <target name="file" xsi:type="AsyncWrapper" queueLimit="100" overflowAction="Discard">
                <target name="file" xsi:type="File" fileName="${logDirectory}/${event-context:item=Dir}${event-context:item=Name}_${date:format=MMddyyyy}.log" layout="${longdate}: ${level:uppercase=true}: ${message}${onexception:EXCEPTION OCCURRED\:${newline}${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>
            </target>
        </targets>
        <rules>
            <logger name="LogToConsoleAndFile" minlevel="Trace" writeTo="console,file"/>
            <logger name="LogToFileOnly" minlevel="Trace" writeTo="file"/>
        </rules>
    </nlog>
    
    <appSettings>
      <add key="AppName" value="Marine_Traffic_Data_Consumer"/>
      <add key="AgencyName" value="MarineTraffic" />
      <add key="DBCommandTimeoutInSeconds" value="30"/>
      <add key="AppCheckTimeoutInSeconds" value="120"/>
      <add key="SendToMongoDB" value="true"/>
      
      <!-- Can accept comma delimited list of agency ID's -->
      <add key="SubscribeToAgencyIDs" value="11"/>
      
      <!-- can accept comma delimited list of strings. For now, let's just use one-->
      <add key="KafkaTopic" value="marine_traffic_data"/>
      <add key="KafkaConsumerGroup" value="marine_traffic_data_consumer"/>
      
      <add key="SimulationEnabled" value="false"/>
      <add key="SimulationType" value="" />
      <!-- supports space delimited string of files - executed in order -->
      <add key="SimulationFile" value="D:\Projects\Port_Authority\Code\Marine_Traffic_Data_Consumer\Marine_Traffic_Data_Consumer\bin\SimulationFiles" />
      
      <!-- SNMP Configuration -->
      <add key="SNMPHost" value="127.0.0.1"/>
      <add key="SNMPPort" value="162"/>
      <add key="SNMPCommunity" value="public"/>
      <add key="SNMPOID" value="1.3.6.1.4.1.1629.1.1.4"/>

    </appSettings>
</configuration>
